extends includes/layout.pug

block content
  - let transparent = (is_current('/life/music/') || is_current('/collect/') || is_current('/social/fcircle/') || is_current('/box/animation/') || is_current('/life/games/')) ? true : false
  #page(class= (transparent === true) ? 'transparentpage' : '')
    if top_img === false
      h1.page-title= page.title

    case page.type
      when 'tags'
        include includes/page/tags.pug
      when 'link'
        include includes/page/flink.pug
      when 'about'
        include includes/page/about.pug
      when 'categories'
        include includes/page/categories.pug
      when 'collect'
        include includes/page/collect.pug
      when 'echarts'
        include includes/page/echarts.pug
      default
        include includes/page/default-page.pug

    if page.comments !== false && theme.comments && theme.comments.use
      - var commentsJsLoad = true
      !=partial('includes/third-party/comments/index', {}, {cache: true})
